.hh-box{
    width: 200px;
    height: 280px;
    border: 1px solid blue;
    text-align: center;
    position: relative;
}
.hh-box-new{
    position:absolute;
    top:0;
    right:0;
    width:50px;
}
.hh-box-icons{
    position: absolute;
    right: 3px;
    bottom: 3px;
    width:25px;
}
.hh-box-price{
    position:absolute;
    left: 7px;
    bottom:7px;
    color: red;
    font-size: larger;
}
.hh-box-name{
    position: absolute;
    top: -25px;
    font-size: larger;
    width: inherit;
}